.custom-checkbox {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: inline-grid;
  grid-template-columns: .7em auto;
  align-items: center;
  
}
.checkbox {
  appearance: none;
  margin: 0;
  font: inherit;
  width: 16px;
  height: 16px;
  border: 2px solid #4D9FFF;
  border-radius: 4px;
  display: grid;
  place-content: center;
}
.dark_checkbox {
border-color: #444444;
background-color: #CCCCCC;
}
.checkbox::before {
  content: "";
  width: 8px;
  height: 7px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: 120ms transform ease-out;
  background-color: #4D9FFF;
}
.dark_checkbox::before{
  background-color: #444444 ;
}
.checkbox:checked::before {
  transform: scale(1);
}

.border {
  outline: 2px solid #444444;
}

.checkbox:disabled {
  cursor: not-allowed;
}
